In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
#load data
train = pd.read_csv('gencode_train.tsv', sep='\t')
test = pd.read_csv('gencode_test.tsv', sep='\t')

In [4]:
train

,#name,chrom,strand,txStart,txEnd,exonEnds,exonStarts
0,NCKAP5,chr2,-,133429372,134326031,"133430878,133483332,133486525,133489624,133531...","133483200,133486389,133489310,133531389,133538..."
1,SPATS2L,chr2,+,201170616,201343253,"201171015,201194203,201254006,201277142,201281...","201194154,201253946,201277034,201281102,201283..."
2,FAM49A,chr2,-,16730727,16847102,"16734267,16736407,16740854,16742337,16742545,1...","16736337,16740728,16742258,16742429,16742724,1..."
3,LTBP1,chr2,+,33172039,33624426,"33172885,33174012,33246273,33335818,33360027,3...","33173942,33245976,33335649,33359860,33411923,3..."
4,NRXN1,chr2,-,50148877,51259338,"50149389,50170929,50280728,50282182,50318632,5...","50170842,50280409,50282093,50318461,50463927,5..."
...,...,...,...,...,...,...,...
13379,CHKB,chr22,-,51017378,51021428,"51017684,51017936,51018259,51018511,51018700,5...","51017855,51018156,51018403,51018619,51018787,5..."
13380,MAPK8IP2,chr22,+,51039114,51049979,"51039312,51040323,51041927,51042148,51043492,5...","51040218,51041652,51042055,51042270,51043796,5..."
13381,ARSA,chr22,-,51063446,51066598,"51063892,51064109,51064491,51064706,51065188,5...","51064007,51064364,51064582,51065019,51065262,5..."
13382,ACR,chr22,+,51176624,51183762,"51176740,51177902,51178405,51182634,","51177699,51178122,51182489,51183081,"
13383,RABL2B,chr22,-,51205929,51222090,"51206136,51207302,51207552,51207977,51208444,5...","51207188,51207469,51207883,51208333,51214200,5..."

In [5]:
test

,#name,chrom,strand,txStart,txEnd,exonEnds,exonStarts
0,AZIN2,chr1,+,33546714,33585995,"33546895,33547109,33547413,33547955,33549728,3...","33546989,33547202,33547779,33549555,33557651,3..."
1,PRUNE,chr1,+,150980953,151008189,"150981147,150990380,150991145,150997271,150998...","150990288,150990943,150997087,150997991,150999..."
2,C1orf21,chr1,+,184356192,184598154,"184356502,184446737,184476816,184559949,184567...","184446520,184476722,184559873,184567535,184588..."
3,LIN9,chr1,-,226418858,226497434,"226420307,226420894,226421224,226426797,226438...","226420797,226421045,226426672,226438540,226453..."
4,C1orf159,chr1,-,1017203,1051478,"1018367,1019763,1019886,1021392,1022584,102297...","1019733,1019861,1021258,1022519,1022882,102573..."
...,...,...,...,...,...,...,...
1647,NELFB,chr9,+,140149759,140167999,"140150063,140150522,140150880,140151506,140157...","140150359,140150781,140151276,140157489,140158..."
1648,NSMF,chr9,-,140342025,140353786,"140343943,140344126,140344477,140344707,140346...","140344051,140344375,140344628,140346817,140347..."
1649,MRPL41,chr9,+,140445651,140447007,"140446430,","140446526,"
1650,DPH7,chr9,-,140449361,140473387,"140450100,140459058,140459410,140459606,140468...","140458886,140459345,140459537,140468660,140469..."
1651,ZMYND19,chr9,-,140476531,140484942,"140477138,140477615,140481559,140482275,140483...","140477435,140481419,140482169,140483111,140484..."